<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.html')  %>
    <title>
        <%= title%>
    </title>
</head>

<body>

<%- include('partials/navigation.html')  %>
<div class="container">
    <header class="row">

        <div class="col-12 mt-4 pt-4 pb-4 mb-4 text-center">

            <img class="animate__animated animate__bounce" src="/img/cerros.png" width="300" alt="">

        </div>

    </header>

</div>

<!-- section one -->

<div class="container-fluid">
    <div class="row bg-dark text-white p-3 text-center">
        <div class="col-6">
            <i class="fab fa-youtube fa-5x"></i>
        </div>
        <div class="col-6 ">
            <h3>Great day</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio a neque illo, vitae aliquam maiores quam eos repellendus laudantium id!</p>
        </div>
    </div>
</div>

<%- include('partials/footer.html')  %>

</body>

</html>